@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600&family=Manrope&display=swap');

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .espiral {
    display: none;
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  /*   border: 1px solid black;
 */
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcf8ff;
}

.grid-container-1 {
  background-color: #24053e;
}

ul {
  list-style: none;
  margin: 0;
  padding: 5% 0;
  overflow: hidden;
}

li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#link-right {
  float: right;
  margin-right: 20px;
  text-decoration: underline;
  text-decoration-color: #44ffa1;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
  font-weight: 600;
  padding: 0;
}

h1 {
  padding: 10%;
  padding-top: 0;
  margin-top: 0;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 50px;
  color: white;
}

h1 ins {
  text-decoration: underline;
  text-decoration-color: #44ffa1;
  text-decoration-thickness: 3px;
  text-underline-offset: 8px;
}

.apply {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.learn-more {
  padding: 15px 20px;
  background-color: #44ffa1;
  color: #24053e;
  text-align: center;
  border: 2px solid #44ffa1;
  width: 35%;
  margin: auto;
  margin-bottom: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-style: normal;
  display: inline-block;
}

.learn-more p {
  margin: 0;
}

header {
  text-align: center;
  background-color: #24053e;
  margin-bottom: 30%;
  border-bottom-left-radius: 300% 30%;
  border-bottom-right-radius: 300% 30%;
}

#image-hero {
  margin: auto;
  margin-top: 0;
  width: 90%;
  transform: translateY(70px);
}

main {
  background-color: white;
}

#main-div {
  text-align: center;
  margin-top: 0;
  margin: auto;
  background-color: #fcf8ff;
  padding-bottom: 10%;
  border-bottom-left-radius: 300% 30%;
  border-bottom-right-radius: 300% 30%;
}

.number {
  border: 1px solid #24053e;
  width: 34px;
  height: 34px;
  margin: 34px auto;
  font-size: 20px;
  line-height: 32px;
  border-radius: 50%;
}

h2,
h3 {
  font-family: 'Fraunces', serif;
  font-style: normal;
  font-weight: 600;
  color: #24053e;
  font-size: 28px;
  line-height: 32px;
}

.descricao {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  line-height: 32px;
  font-size: 18px;
  color: #584d62;
  padding: 3%;
}

#foto {
  width: 80%;
  margin: auto;
  margin-top: 40%;
}

section {
  padding: 0;
  text-align: center;
  background-color: white;
}

.div-sec {
  transform: translateY(-65px);
  background-color: #24053e;
  color: white;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 95%;
  line-height: 28px;
  font-size: 16px;
  margin: auto;
  padding: 5% 13% 10% 13%;
}

.div-sec h2 {
  color: white;
  font-size: 32px;
}

.learn-more-2 {
  padding: 0px 0px;
  background-color: #44ffa1;
  color: #24053e;
  text-align: center;
  border: 2px solid #44ffa1;
  margin: auto;
  margin-bottom: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-style: normal;
  display: block;
  width: 60%;
}

footer {
  text-align: center;
  padding-bottom: 10%;
  background-color: white;
}

#logo2 {
  display: inline;
  margin: 0% auto 5% auto;
}

#logo-insta {
  margin: 0 3%;
}

@media only screen and (min-width: 600px) {
  [class*="col-"] {
    float: left;
  }

  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }

  ul {
    margin: 0;
    padding: 20px;
  }

  h1 {
    margin: auto;
    margin-top: 5%;
    font-size: 60px;
    line-height: 60px;
  }

  .learn-more {
    padding: 20px 20px;
    width: 30%;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    margin-bottom: 30%;
  }

  #image-hero {
    width: 1% !important;
    transform: scale(70) !important;
  }

  header {
    padding-bottom: 0;
    margin-bottom: 10%;
  }

  #espiral-1 {
    transform: translate(-60%, -10%);
  }

  #espiral-2 {
    transform: translate(40%, 110%);
  }

  #h1-e-espiral {
    padding: 0;
    padding-bottom: 10%;
    overflow: hidden;
  }

  #main-div {
    padding-top: 20%;
  }

  #foto {
    margin: auto;
    width: 40%;
  }

  .number-title-descricao {
    text-align: left;
    margin: 10% 10%;
    margin-top: 0;
  }

  .number-div {
    padding: 0;
    padding-top: 2%;
  }

  .number {
    border: 1px solid #24053e;
    width: 50px;
    height: 50px;
    font-size: 26px;
    line-height: 32px;
    border-radius: 50%;
    padding-left: 16%;
    padding-top: 8%;
  }

  main h2 {
    margin: 0;
    padding: 0 3%;
  }

  section {
    padding: 5%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .div-sec h2 {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
  }

  .div-sec {
    text-align: left;
  }


  .div-sec {
    float: right;
    transform: translateY(-130px);
    background-color: #24053e;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    font-size: 16px;
    padding: 2% 10% 0 10%;
    text-align: left;
  }

  .learn-more-2 {
    margin: 10% 0;
  }

  #espiral-3 {
    transform: translate(110%, -116%);
  }

  #image-hero {
    margin: auto;
    margin-top: 0;
    width: 70%;
    transform: translateY(0);
  }

}

@media only screen and (min-width:900px) {

  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  ul {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
  }

  ul a:hover {
    color: #44ffa1;
  }


  #h1-e-espiral {
    padding: 0;
    padding-bottom: 3%;
  }

  h1 {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    padding: 0 15% 5% 15%;
  }

  .learn-more {
    padding: 20px 20px;
    width: 20%;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    margin-bottom: 30%;
  }

  .learn-more:hover {
    background-color: #24053e;
    color: #44ffa1;
  }

  #image-hero {
    transform: scale(50) !important;
  }

  #espiral-1 {
    transform: translate(-45%, -10%);
  }

  #espiral-2 {
    transform: translate(40%, 110%);
  }

  #main-div {
    text-align: center !important;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 5%;
  }

  .number-title-descricao {
    text-align: center;
    margin: 10% 3%;
    margin-top: 0;
  }

  .number {
    border: 1px solid #24053e;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 40px;
    border-radius: 50%;
    padding: 0;
    padding-top: 1%;
  }

  section {
    padding-top: 10%;
    text-align: center;
  }

  .section2 {
    margin: auto;
    float: none;
  }

  #foto {
    width: 100%;
    transform: translateX(10%);
    float: none;
  }

  .div-sec {
    padding: 2% 15% 5% 6%;
    text-align: left;
    margin: auto;
    font-size: 18px;
    transform: translate(-5%, 35%);

  }

  .div-sec h2 {
    color: white;
    font-size: 56px;
    float: none;
  }

  .learn-more-2 {
    margin-top: 5%;
    margin-bottom: 0;
    display: inline-block;
    width: 35%;
  }

  .learn-more-2:hover {
    background-color: #24053e;
    color: #44ffa1;
  }

  #espiral-3 {
    transform: translate(70%, 0%);
  }

  footer {
    text-align: center;
    padding-bottom: 5%;
    background-color: white;
  }

  #logo2 {
    display: inline;
    margin: 0% auto 5% auto;
  }

  #logo-insta {
    margin: 0 2%;
  }
}