@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0
}

h1,
h2,
h3 {
    font-family: 'Fraunces 144pt';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
}

p {
    font-family: 'Manrope', sans-serif;
    margin: 5% 0;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    font-style: normal;
}

header {
    text-align: center;
    background-color: #24053e;
    padding: 10%;
    padding-bottom: 35%;
    margin-bottom: 50%;
    border-bottom-left-radius: 300% 30%;
    border-bottom-right-radius: 300% 30%;
}

#logo1 {
    position: absolute;
    top: 30px;
    left: 20px;
}

#link-right {
    position: absolute;
    top: 20px;
    right: 15px;
}

h1 {
    color: white;
    width: 90%;
    margin: 10% auto;
    padding-top: 20%;
    /*     font-weight: 400; */
}

h2 {
    font-size: 28px;
}

a {
    text-decoration: none;
    margin: auto;
}

a p {
    font-weight: 600;
    margin: 5% auto;
}

ins {
    text-decoration: underline;
    text-decoration-color: #44ffa1;
    text-decoration-thickness: 3px;
    text-underline-offset: 8px;
}

main {
    text-align: center;
}

section {
    margin: 5%;
    color: white;
    text-align: center;
    position: relative;
    height: fit-content;
}

#foto {
    margin: 20% auto;
    width: 100%;
}

.div-sec {
    background-color: #24053e;
    padding: 10%;
    line-height: 32px;
    position: absolute;
    top: 400px
}

.div-sec h2 {
    margin-top: 0;
}

footer {
    margin: auto;
    margin-top: 350px;
    text-align: center;
    margin-bottom: 50px;
    width: fit-content;
}

#image-hero {
    margin: 20% auto;
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 25%;
}

.white {
    color: white;
}

.white:hover {
    color: #44ffa1;
}

.button {
    padding: 5px 20px;
    background-color: #44ffa1;
    color: #24053e;
    text-align: center;
    border: 2px solid #44ffa1;
    display: block;
    width: fit-content;
}

.button:hover {
    background-color: #24053e;
    color: #44ffa1;
}

.title {
    margin-top: 0;
}

.descricao {
    width: 95%;
    margin: auto;
    color: #584d62
}

#logo2 {
    margin-bottom: 50px;
}

#logo-insta {
    margin: auto 25px;
}

.number {
    border: 1px solid #24053e;
    width: 34px;
    height: 34px;
    margin: 34px auto;
    font-size: 20px;
    line-height: 32px;
    border-radius: 50%;
}

@media only screen and (max-width: 389px) {
    #image-hero {
        margin: 20% auto;
        width: 90%;
        position: absolute;
        left: 5%;
        bottom: 13%;
    }
}

@media only screen and (max-width: 600px) {
    .espiral {
        display: none;
    }
}